.footer {
  width: 100%;
  height: 100%;
  background: var(--black, #001526);
  color: white;

  .underline {
    a {
      text-decoration: underline !important;
    }
  }

  .footer_container {
    display: inline-flex;
    padding: 48px 0 48px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    .footer_inner_down {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;

      span {
        font-family: Helvetica;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
      }
    }

    .footer_inner,
    .footer_inner_block1 {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;
      padding-bottom: 32px;
      border-bottom: 1px solid #414854;

      .footer_inner_block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .footer_inner_block_info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;
          margin-top: 32px;

          .footer_inner_block_infos {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }
      }

      .footer_inner_block_two,
      .footer_inner_block_two1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        h3 {
          font-size: 18px;
          font-weight: 700;
          line-height: 140%;
        }

        nav {
          ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            li {
              a {
                font-size: 14px;
                line-height: 140%;
              }
            }
          }
        }
      }
    }
  }
}

.telegram {
  background-color: aliceblue;
  padding: 3px;
  border-radius: 15px;
}
.social {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (min-width: 748px) {
  .footer {
    .footer_container {
      .footer_inner {
        .footer_inner_block1 {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 748px) {
  .footer {
    .footer_container {
      align-items: center;
      .footer_inner {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
        .footer_inner_block1 {
          display: flex;
          border-bottom: 0px solid #001526;
          justify-content: center;
          align-items: flex-start;
          gap: 16px;
          align-self: stretch;
        }
        .footer_inner_block_two {
          display: none;
        }
        .footer_inner_block_two1 {
          align-items: center;
          text-align: center;
          width: 40%;
        }
      }
    }
  }
}
