.header_back {
  background: var(--bue_light_2, #f7f9fc);
}

.header {
  background: #ffffff00;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  top: 0;
  z-index: 1;
  max-width: 1320px;
  position: relative;
  margin: 0 auto;

  .burger_menu {
    display: none;
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      gap: 32px;

      li {
        list-style: none;
        font-family: Helvetica;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;

        a {
          text-decoration: none;
          color: inherit;
          position: relative;
        }

        a::after {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: transparent;
          transition: background-color 0.3s ease;
        }

        a.active::after {
          background-color: #027ddb;
          color: #027ddb;
        }

        a.active[href="/"] {
          color: #027ddb;
          background-color: #027ddb;
        }
      }
      .whiteText {
        color: #fff !important;
        border-bottom: solid 2px #fff !important;
      }

      .active {
        color: #027ddb;
        border-bottom: solid 2px #027ddb;
      }
    }
  }

  .auth_btn {
    display: flex;
    align-items: center;
    gap: 20px;

    .auth_btn_reg {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    .login {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      padding: 10px 20px;
      color: #fff;
      border-radius: 12px;
      background: var(--blue, #027ddb);
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #01579b;
      }
    }

    .register {
      background: none;
      cursor: pointer;
    }
  }
}
.whiteText,
.whiteBackground {
  color: white;
}
.filterComponentContainer {
  background: #fff;
  z-index: 88;
  transform: translateX(0);
  transition: transform 1s ease;
  width: 25%;
  box-sizing: border-box;

  @media screen and (max-width: 600px) {
    transform: translateY(-200%);
    width: 100%;
    position: absolute;
  }
}

.visibleFilter {
  .filterComponentContainer {
    transform: translateX(0);
  }
}

.mobile {
 display: none;
}

@media (max-width: 1024px) {
  .header {
    .burger_menu {
      display: initial;
    }
    nav {
      display: none;
    }
  }
}

@media (max-width: 550px) {
  .header {
    padding: 20px 20px;
    .auth_btn {
      display: none;
    }
  }

.mobile {
  display: block;
  background-color: #fff;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  position: sticky;

  nav {
    padding-top: 100px;
    padding-bottom: 30px;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .auth_btn {
        display: flex;
        align-items: center;
        gap: 20px;

        .auth_btn_reg {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            display: none;
          }
        }

        .login {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 10px;
          padding: 10px 20px;
          color: #fff;
          border-radius: 12px;
          background: var(--blue, #027ddb);
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #01579b;
          }
        }

        .register {
          cursor: pointer;
          color: var(--black, #001526);
          font-size: 14px;
          line-height: 140%;
          border-radius: 12px;
          padding: 10px 20px;
          border: 1px solid #027ddb;
        }
      }

      li {
        color: var(--black, #001526);
        font-size: 20px;
        font-weight: 400;
        line-height: 140%;
      }
    }
  }
}

}
