.heroSection_img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.tracking_form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 12px;
  background: var(--Colors-Grey-White, #fff);
  padding: 24px;
  max-width: 538px;

  h3 {
    color: var(--black, #001526);
    font-size: 20px;
    line-height: 140%;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 12px;

    label {
      color: var(--black, #001526);
      font-size: 14px;
    }

    input {
      padding: 12px 20px;
      border-radius: 8px;
      border: 1px solid var(--gray, #a4a4a4);
      color: var(--gray, #a4a4a4);
      font-size: 14px;
    }
  }

  button {
    padding: 14px 36px;
    border-radius: 12px;
    background: var(--blue, #027ddb);
    color: var(--white, var(--Colors-Grey-White, #fff));
    font-size: 16px;
    line-height: 140%;

    &:hover {
      background-color: #01579b;
      transition: background-color 0.3s;
    }
  }
}

.track_results {
  border-radius: 12px;
  background: var(--Colors-Grey-White, #fff);
  padding: 24px;
  gap: 24px;
  display: flex;
  justify-content: center;

  .event {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-right: 100px;

    .time {
      h5 {
        color: var(--black, #001526);
        font-size: 16px;
        text-align: right;
        margin-bottom: 5px;
      }

      span {
        color: var(--black, #001526);
        text-align: right;
        font-size: 12px;
      }
    }

    .img {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .firma {
      color: var(--black, #001526);
      font-size: 16px;

      span {
        margin-right: 10px;
      }

      .mobile_time {
        display: none;
      }
    }
  }

  .track_results div .event:last-child {
    .img .img2 {
      display: none;
    }
  }

  .main_info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 24px;
    border-left: 1px solid #e7efff;

    div {
      display: flex;
      flex-direction: column;
      gap: 8px;

      label {
        color: var(--black, #001526);
        font-size: 12px;
        line-height: 16px;
      }
      span {
        color: var(--black, #001526);
        font-size: 16px;
        line-height: 140%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .track_results {
    flex-direction: column;
    padding: 16px;

    .event {
      margin-right: 0;
      align-items: flex-start;

      .img img:first-child {
        width: 48px;
        height: 48px;
      }

      .time {
        display: none;
      }

      .firma {
        p {
          margin-bottom: 10px;
          font-size: 12px;
        }
        .mobile_time {
          display: initial;

          h5 {
            color: var(--black, #001526);
            font-size: 16px;
            margin-bottom: 5px;
          }

          span {
            color: var(--black, #001526);
            font-size: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .tracking_form {
    padding: 16px;
  }
}
