.user_page {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .user_info {
    display: flex;
    max-width: 1096px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 12px;
    background: var(--white, #fff);
    width: 100%;

    h2 {
      color: var(--black, #001526);
      font-size: 24px;
      line-height: 140%;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    p {
      display: flex;
      align-items: center;
      gap: 10px;
      color: var(--black, #001526);
      font-size: 18px;
      line-height: 140%;
    }
  }
}

@media (max-width: 600px) {
  .user_page {
    .user_info {
      div {
        display: flex;
        align-items: start;
        gap: 12px;
        flex-direction: column !important;
      }
    }
  }
}
