.svg {
  margin-left: 40px;
  cursor: pointer;
}
.df {
  display: flex;
  justify-content: space-between;
}
.current_header_icon {
  display: flex;
  gap: 20px;
}
.contacts {
  margin-top: 120px;
  h1 {
    color: var(--black, #001526);
    font-size: 32px;
    font-weight: 700;
    margin-top: 12px;
  }

  p {
    color: var(--black, #001526);
    font-size: 16px;
    font-weight: 400;
  }

  .contact_inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 120px;

    .contact_inner_block,
    .contact_inner_block1 {
      display: flex;
      padding: 24px;
      max-width: 700px;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      border-radius: 12px;
      background: var(--bue_light_2, #f7f9fc);
      margin-top: 32px;
      position: relative;

      h2 {
        color: var(--black, #001526);
        font-size: 24px;
        font-weight: 700;
      }

      .contact_inner_block_text_inner {
        text-wrap: nowrap;
        display: flex;
        gap: 20px;
        align-items: center;
      }
      .contact_inner_block_text {
        width: 100%;
        gap: 20px;
        display: flex;
      }
      .contact_inner_block_auth {
        width: 90%;
        height: 82%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0px;
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(6px);

        .contact_inner_block_auth_inner {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          span {
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            line-height: 140%;
          }
        }
      }
      h3 {
        color: var(--black, #001526);
        font-size: 18px;
        font-weight: 700;
      }

      .contact_inner_block_infos {
        display: flex;
        align-items: flex-start;
        gap: 12px;
        align-self: stretch;

        .contact_inner_block_info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 8px;
          flex: 1 0 0;

          h3 {
            color: var(--black, #001526);
            font-size: 16px;
            font-weight: 400;
          }
          p {
            color: var(--black, #001526);
            font-size: 12px;
            font-weight: 300;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .contact_inner {
    display: flex;
    flex-direction: column;

    .contact_inner_block {
      width: 100% !important;
    }
  }
}

@media (max-width: 748px) {
  .current_header_icon {
    display: none;
  }
  .contacts {
    margin-top: 0px;

    h1 {
      font-size: 24px;
    }
    .contact_inner {
      margin-bottom: 32px;
      .contact_inner_block {
        display: none;
      }

      .contact_inner_block_infos {
        gap: 10px;

        .contact_inner_block_info {
          max-width: 200px;
          h3 {
            font-size: 14px;
          }
        }
      }

      .contact_inner_block1 {
        gap: 16px;
        padding: 16px;
        width: 100%;
        h2 {
          font-size: 16px;
        }
      }
    }
  }
}
