.faq_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;

  .door_img {
    max-width: 580px;
    max-height: 579px;

    img {
      width: 100%;
    }
  }

  .faq_block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 874px;

    .faq_header {
      span {
        color: var(--black, #001526);
        font-size: 16px;
        line-height: 140%;
        margin-bottom: 12px;
      }

      h2 {
        color: var(--black, #001526);
        font-size: 40px;
        font-weight: 700;
      }
    }

    .question {
      padding: 16px 20px;
      border-radius: 16px;
      border: 1px solid var(--blue_light, #aed5f3);

      .answer {
        color: var(--white, var(--Colors-Grey-White, #fff));
        font-size: 14px;
        line-height: 140%;
        padding-top: 16px;
        margin-top: 16px;
        border-top: 1px solid #aed5f3;
      }

      .close_block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        p {
          color: var(--black, #001526);
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .faq_container {
    .door_img {
      display: none;
    }
  }
}

@media (max-width: 748px) {
  .faq_container {
    .door_img {
      display: none;
    }
  }
}
