.select {
  display: flex;
  flex-direction: column;
  gap: 12px;

  label {
    color: var(--black, #001526);
    font-size: 14px;
  }

  .options {
    display: flex !important;
    justify-content: space-between;
    padding: 12px 20px;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid var(--gray, #a4a4a4);

    span {
      color: var(--gray, #a4a4a4);
      font-size: 14px;
    }
  }

  .options_var {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid var(--gray, #a4a4a4);
  }
}
