.custom_select {
  position: relative;
  width: 100%;
}

.selected_option {
  display: flex;
  justify-content: space-between;
  padding: 9px 20px;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid var(--blue, #a4a4a4);
  cursor: pointer;
  span {
    margin: 2px;
    border-bottom: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // z-index: 900;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid var(--blue, #a4a4a4);
  border-radius: 8px;
  background-color: #fff;
  display: none;
  z-index: 9999;
  transform: translateY(5px);
  gap: 0 !important;
}

.custom_select.open .options {
  display: block;
}

.option {
  background: #fff;
  padding: 10px 20px;
  gap: 0 !important;
  cursor: pointer;
  &:hover {
    background-color: var(--blue, #027ddb);
    border-radius: 4px;
    color: white;
  }
}
