.mission {
  margin-top: 138px;

    h1 {
      font-family: Helvetica;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 12px;
      width: 627px;
    }
    span {
      font-family: Helvetica;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }

}