.calc {
  margin-top: 120px;

  select {
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid var(--gray, #a4a4a4);
    width: 100%;
  }

  button {
    border-radius: 12px;
    background: var(--blue, #027ddb);
    padding: 14px 36px;
    color: var(--white, var(--Colors-Grey-White, #fff));
    font-size: 16px;
    line-height: 140%;
    margin-top: 20px;
  }

  h1 {
    color: var(--black, #001526);
    font-size: 32px;
    font-weight: 700;
  }
  .calc_inner {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    gap: 20px;

    .calc_inner_forms {
      width: 650px;
      gap: 20px;

      .calc_inner_forms_inputs {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        div {
          display: flex;
          flex-direction: column;
          gap: 12px;
          align-items: flex-start;
          width: 100%;

          input {
            border-radius: 8px;
            border: 1px solid var(--gray, #a4a4a4);
            padding: 12px 20px;
            width: 100%;
          }

          label {
            color: var(--black, #001526);
            font-family: Helvetica;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
          }
        }

        .country_select {
          select {
            padding: 12px 20px;
            border-radius: 8px;
            border: 1px solid var(--gray, #a4a4a4);
            width: 100%;
          }
        }
      }
      .calc_inner_forms_inputss {
        display: flex;
        gap: 20px;

        div {
          display: flex;
          flex-direction: column;
          gap: 12px;
          align-items: flex-start;
          width: 100%;

          input {
            border-radius: 8px;
            border: 1px solid var(--gray, #a4a4a4);
            padding: 20px 20px;
            width: 100%;
          }

          label {
            color: var(--black, #001526);
            font-size: 14px;
            line-height: 140%;
            margin-top: 12px;
          }
        }
      }
      .calc_inner_forms_input {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;

        input {
          border-radius: 8px;
          border: 1px solid var(--gray, #a4a4a4);
          padding: 12px 20px;
          width: 100%;
        }

        label {
          color: var(--black, #001526);
          font-size: 14px;
          line-height: 140%;
          margin-top: 20px;
        }
      }
    }
    .calc_inner_infos {
      display: flex;
      padding: 28px;
      flex-direction: column;
      align-items: flex-flex-start;
      gap: 20px;
      flex: 1 0 0;
      border-radius: 16px;
      border: 1px solid var(--blue_light, #aed5f3);
      background: rgba(255, 255, 255, 0.24);
      backdrop-filter: blur(8px);
      height: 100%;

      .calc_inner_info {
        display: flex;
        justify-content: space-between;
        gap: 12px;
        span {
          margin-right: 12px;
        }

        div {
          p {
            margin-top: 10px;
          }

          h3 {
            color: var(--black, #001526);
            font-size: 18px;

            strong {
              color: #027ddb;
              font-family: Helvetica;
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
        }
      }
    }
  }
}
