.calc {
  margin-top: 120px;
  h1 {
    color: var(--black, #001526);
    /* Bold - 32 */
    font-family: Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .calc_inner {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

    gap: 20px;

    .calc_inner_forms {
      width: 650px;
      gap: 20px;
      .calc_inner_forms_inputs {
        display: flex;
        justify-content: space-between;
        gap:20px;

        div {
            display: flex;
            flex-direction: column;
            gap: 12px;
            align-items: start;
          width: 100%;

            input {
              border-radius: 8px;
              border: 1px solid var(--gray, #a4a4a4);
              padding: 12px 20px;
              width: 100%;

            }

            label {
              color: var(--black, #001526);
              font-family: Helvetica;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%;
              //margin-top: 12px;
          }
        }
      }
      .calc_inner_forms_inputss {
        display: flex;
        justify-content: space-between;
        gap:20px;

        div {
          display: flex;
          flex-direction: column;
          gap: 12px;
          align-items: start;
          width: 100%;

          input {
            border-radius: 8px;
            border: 1px solid var(--gray, #a4a4a4);
            padding: 20px 20px;
            width: 100%;

          }

          label {
            color: var(--black, #001526);
            font-family: Helvetica;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            margin-top: 12px;
          }
        }
      }
      .calc_inner_forms_input {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: start;

        input {
          border-radius: 8px;
          border: 1px solid var(--gray, #a4a4a4);
          padding: 12px 20px;
          width: 100%;
        }

        label {
          color: var(--black, #001526);
          font-family: Helvetica;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          margin-top: 20px;
        }
      }
    }
    .calc_inner_infos {
      display: flex;
      padding: 28px;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      flex: 1 0 0;
      border-radius: 16px;
      border: 1px solid var(--blue_light, #AED5F3);
      background: rgba(255, 255, 255, 0.24);
      backdrop-filter: blur(8px);
      height: 100%;

      .calc_inner_info {
        display: flex;
        justify-content: space-between;
        gap: 12px;
        span {
          margin-right: 12px;
        }

        div {
          p {
            margin-top: 10px;
          }

          h3 {
            color: var(--black, #001526);
            font-family: Helvetica;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            strong {
              color: #027DDB;
              font-family: Helvetica;
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
        }
      }
    }
  }

}