.calc {
  border-radius: 0px 0px 64px 64px;

  .calc_container {
    .calc_img {
      position: absolute;
      right: -60px;
      top: -60px;
      z-index: 1;
      transform: rotate(9.779deg);
    }

    h1 {
      color: var(--black, #001526);
      font-size: 64px;
      width: 50%;
    }

    .calc_inner {
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
      gap: 20px;

      .calc_inner_forms {
        width: 650px;
        gap: 15px;

        .calc_inner_forms_inputs {
          display: flex;
          justify-content: space-between;
          gap: 20px;

          div {
            display: flex;
            flex-direction: column;
            gap: 12px;
            align-items: flex-start;
            width: 100%;

            input {
              border-radius: 8px;
              border: 1px solid var(--blue_light, #aed5f3);
              padding: 12px 20px;
              background: var(--white, #fff);
              width: 100%;
              font-size: 14px;
            }

            label {
              color: var(--black, #001526);
              font-size: 14px;
              line-height: 140%;
            }
          }
        }
        .calc_inner_forms_inputss {
          display: flex;
          justify-content: space-between;
          gap: 20px;
          width: 100%;

          div {
            display: flex;
            flex-direction: column;
            gap: 12px;
            align-items: flex-start;
            width: 100%;

            input {
              border-radius: 8px;
              border: 1px solid var(--blue_light, #aed5f3);
              padding: 20px 20px;
              width: 100%;
              font-size: 14px;
            }

            label {
              color: var(--black, #001526);
              font-size: 14px;
              line-height: 140%;
              margin-top: 12px;
            }
          }
        }
        .calc_inner_forms_input {
          display: flex;
          flex-direction: column;
          gap: 12px;
          align-items: flex-start;

          input {
            border-radius: 8px;
            border: 1px solid var(--blue_light, #aed5f3);
            padding: 12px 20px;
            width: 100%;
            font-size: 14px;
          }

          label {
            color: var(--black, #001526);
            font-size: 14px;
            line-height: 140%;
            margin-top: 20px;
          }
        }

        // .select {
        //   select {
        //     border-radius: 8px;
        //     border: 1px solid var(--blue_light, #aed5f3);
        //     padding: 12px 20px;
        //     background: var(--white, #fff);
        //     width: 100%;
        //     font-size: 14px;
        //     -webkit-appearance: none;
        //     -moz-appearance: none;
        //     appearance: none;
        //     background-image: url('/assets/icons/selecter.svg');
        //     background-repeat: no-repeat;
        //     background-position: 95% 50%;
        //   }
        // }
      }
      .calc_inner_infos {
        display: flex;
        padding: 28px;
        flex-direction: column;
        align-items: flex-flex-start;
        gap: 20px;
        flex: 1 0 0;
        border-radius: 16px;
        border: 1px solid var(--blue_light, #aed5f3);
        background: rgba(255, 255, 255, 0.24);
        backdrop-filter: blur(8px);
        height: 100%;
        z-index: 3;

        .calc_inner_info {
          display: flex;
          gap: 20px;
          span {
            margin-right: 12px;
          }

          div {
            p {
              margin-top: 10px;
            }

            h3 {
              color: var(--black, #001526);
              font-size: 18px;

              strong {
                color: #027ddb;
                font-size: 18px;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .calc {
    padding-top: 32px;

    .calc_img {
      display: none;
    }

    .calc_inner {
      display: flex;
      flex-direction: column;

      .calc_inner_forms {
        width: 100% !important;
      }
    }
  }
}

@media (max-width: 550px) {
  .calc {
    .calc_container {
      h1 {
        color: var(--black, #001526);
        font-size: 24px;
        font-weight: 700;
        line-height: 140%;
        width: 100%;
      }

      .calc_inner {
        .calc_inner_forms {
          .calc_inner_forms_inputs {
            flex-direction: column;
          }
        }
        .calc_inner_infos {
          padding: 16px;
          gap: 12px;

          .calc_inner_info {
            div {
              h3 {
                font-size: 12px;

                strong {
                  font-size: 12px;
                }
              }
              p {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}
