.purchase {
  margin-top: 120px;
  gap: 20px;
  .button {
    display: flex;
    padding: 14px 36px;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 12px;
    background: var(--blue, #027ddb);
    cursor: pointer;
    margin-top: 24px;
    font-size: 16px;
    gap: 20px;
    transition: background-color 0.3s; /* добавляем плавный переход для цвета фона */

    span {
      font-family: Helvetica;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      color: white;
    }

    /* hover эффект */
    &:hover {
      background-color: #01579b; /* новый цвет фона при наведении */
    }
  }
  .purchase_img {
    position: absolute;
    right: -60px;
    top: -60px;
  }
  .purchase_container {
    width: 873px;
  }
  .purchase_header {
    h1 {
      color: var(--black, #001526);
      font-family: Helvetica;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    p {
      color: var(--black, #001526);
      font-family: Helvetica;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .purchase_inner {
    margin-top: 24px;
    .purchase_inner_froms {
      display: flex;
      justify-content: space-between;
      gap: 20px;

      .purchase_inner_froms_inputs {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: start;
        width: 100%;

        input {
          border-radius: 8px;
          border: 1px solid var(--gray, #a4a4a4);
          padding: 12px 20px;
          width: 100%;
        }

        label {
          color: var(--black, #001526);
          font-family: Helvetica;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          margin-top: 20px;
          span {
            color: red;
          }
        }
        .purchase_inner_froms_label {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 8px;
          label {
            color: var(--black, #001526);
            font-family: Helvetica;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
          }
          img {
            margin-top: 20px;
          }
        }
      }
    }

    .purchase_inner_from {
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: start;

      input {
        border-radius: 8px;
        border: 1px solid var(--gray, #a4a4a4);
        padding: 12px 20px;
        width: 100%;
      }

      label {
        color: var(--black, #001526);
        font-family: Helvetica;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin-top: 20px;
        span {
          color: red;
        }
      }
    }
    .purchase_inner_form {
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: start;

      input {
        border-radius: 8px;
        border: 1px solid var(--gray, #a4a4a4);
        padding: 12px 20px 64px 20px;
        width: 100%;
      }

      label {
        color: var(--black, #001526);
        font-family: Helvetica;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin-top: 20px;

        span {
          color: red;
        }
      }
    }
  }
}
