.layout {
  display: flex;
  align-items: flex-start;

  .sidebar {
    position: fixed;
    padding: 20px 30px;
    border-right: 1px solid var(--bue_light_2, #f7f9fc);
    background: var(--white, #fff);
    width: 296px;
    height: 100vh;

    .logo {
      display: flex;
      justify-content: center;
      cursor: pointer;

      img {
        width: 98.8px;
        height: 52px;
      }
    }

    nav {
      margin-top: 56px;

      .logout {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: var(--red, #ff1414);
        font-size: 14px;
        line-height: 140%;
        position: absolute;
        bottom: 30px;
        width: 70%;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .active {
          background: #027ddb;
          color: #fff;
        }

        .active_icon {
          filter: brightness(0) invert(1);
        }

        li {
          list-style-type: none;
          padding: 20px 16px;
          cursor: pointer;
          border-radius: 12px;
          transition: 0.3s;
          display: flex;
          align-items: center;
          gap: 12px;

          a {
            text-decoration: none;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
          }
        }

        li:hover {
          background: var(--blue, #62b6f69e);
          color: #fff;
        }
      }
    }
  }

  .header {
    display: flex;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    max-height: 96px;

    .notification {
      display: flex;
      align-items: center;
      gap: 20px;

      .btn {
        background: var(--blue, #027ddb);
        color: #fff;
        padding: 14px 26px;
        border-radius: 12px;
      }

      .user_code {
        span {
          color: var(--blue, #027ddb);
          font-size: 14px;
          font-weight: 700;
          line-height: 18px;
          border-radius: 8px;
          border: 1px solid var(--blue_light_3, #e7efff);
          padding: 8px 16px;
        }
      }
    }

    h3 {
      color: var(--black, #001526);
      font-family: Helvetica;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      span {
        color: var(--black, #001526);
        font-family: Helvetica;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
}

.admin_pages {
  margin-left: 296px; /* Сместить контент вправо, чтобы не перекрывался sidebar */
  width: calc(100vw - 296px); /* Уменьшить ширину на ширину sidebar */
  background: var(--bue_light_2, #f7f9fc);

  main {
    // overflow-y: auto; /* Добавить вертикальный скролл */
    height: calc(110vh - 84px); /* Задать высоту для возможности скролла */
    padding: 24px;
  }
}
