.card {
  border-radius: 16px;
  background: var(--white, #fff);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  .card_header {
    // display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .btns {
      img {
        width: 12px;
        height: 12px;
      }
      display: flex;
      gap: 10px;
      align-items: center;

      .edit {
        border-radius: 5px;
        background: var(--blue_light_3, #e7efff);
        padding: 9px 10px;
      }
      .delete {
        border-radius: 5px;
        background: var(--blue_light_3, #ffe7e7);
        padding: 9px 10px;
      }
    }
  }

  h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #000;
  }

  p {
    color: var(--black, #001526);
    font-size: 20px;
    line-height: 140%;
  }

  span {
    color: var(--black, #001526);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }
}
.borderradius {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.db {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.df {
  display: flex;
  gap: 20px;
  p {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #000;
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;

  span {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  h5 {
    color: #e7efff;
    padding: 5px 12px;
    border-radius: 8px;
  }
  h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #000;
  }
}
