.category_block {
  border-radius: 12px;
  background: var(--white, #fff);
  padding: 20px;
  width: 312px;

  h3 {
    color: var(--black, #001526);
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .checkboxes {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
  }
}
