.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 21, 38, 0.48);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.submit_btn {
  border-radius: 12px;
  background: var(--blue, #027ddb);
  padding: 14px 36px;
  color: var(--white, var(--Colors-Grey-White, #fff));
  font-size: 16px;
}

.submit_btns {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;

  .exit_btn {
    width: 100%;
    border-radius: 12px;
    background: var(--blue, #ffffff);
    border: 1px solid #027ddb;
    padding: 14px 36px;
    color: var(--white, var(--Colors-Grey-White, #000000));
    font-size: 16px;
  }
  .submit_btn {
    width: 100%;

    border-radius: 12px;
    background: var(--blue, #027ddb);
    padding: 14px 36px;
    color: var(--white, var(--Colors-Grey-White, #fff));
    font-size: 16px;
  }
}

.request_modal {
  border-radius: 12px;
  background: var(--Colors-Grey-White, #fff);
  padding: 32px;
  position: relative;

  .exit {
    position: absolute;
    right: 16px;
    top: 16px;
  }

  input {
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid var(--gray, #a4a4a4);
    width: 100%;
  }

  .flex_inputs {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;

    .chek_btn {
      border-radius: 12px;
      background: var(--blue, #027ddb);
      padding: 14px 36px;
      color: var(--white, var(--Colors-Grey-White, #fff));
      font-size: 14px;
      margin-top: 26px;
    }
  }

  .input_label {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    .edited {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .change_img {
      border: none !important;
      padding: 0;
      cursor: pointer;

      .edit_img {
        border-radius: 5px;
        background: var(--blue_light_3, #e7efff);
        padding: 9px 10px;
        width: 20px;
        height: 20px;
      }
    }

    .change_status {
      padding: 16px;
      border: 1px solid #a4a4a4;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      button:first-child {
        color: red;
      }
      button:last-child {
        color: #06db02;
      }
    }

    .select_status {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      button {
        text-align: start;
      }
    }

    .button_true {
      color: var(--green, #06db02);
      font-size: 14px;
      border-radius: 8px;
      border: 1px solid #bcf3ae;
      padding: 12px 16px;
    }

    .button_default {
      color: var(--green, #027ddb);
      font-size: 14px;
      border-radius: 8px;
      border: 1px solid #027ddb;
      padding: 12px 16px;
      text-align: start;
    }

    .button_false {
      color: var(--green, red);
      font-size: 14px;
      border-radius: 8px;
      border: 1px solid red;
      padding: 12px 16px;
    }
  }

  .comments {
    min-height: 95px;
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid var(--gray, #a4a4a4);
  }

  h2 {
    color: var(--black, #001526);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .left_block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 140px;

    img {
      border-radius: 12px;
      border: 1px solid var(--dark_blue, #0040a0);
      background: var(--Colors-Grey-White, #fff);
      width: 140px;
      height: 140px;
    }
  }

  .request_blocks {
    display: flex;
    align-items: flex-start;
    gap: 20px;

    .form {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}

@media (max-width: 768px) {
  .request_modal {
    max-height: 85%;
    overflow-y: scroll;
    .left_block {
      flex-direction: row;
      width: 100%;
    }
    .flex_inputs {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr);
    }

    .flex_inputs:first-child {
      flex-direction: column;
    }

    .request_blocks {
      flex-direction: column;
      overflow-y: scroll;
    }
  }
}
