.requests {
  position: relative;

  .pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  table {
    padding: 24px;
    border-radius: 12px;
    background: var(--white, #fff);
    width: 100%;
    border-collapse: collapse;

    thead {
      tr {
        th {
          color: var(--black, #001526);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          padding: 24px;
          text-align: left;
          border-bottom: 1px solid #aed5f3;
        }
      }
    }
    tbody {
      .purchase_image {
        img {
          width: 64px;
          height: 64px;
        }
      }
      tr {
        border-bottom: 1px solid #aed5f3;

        td {
          color: var(--black, #001526);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          padding: 24px;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
