.shops_block {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  margin-top: 16px;
}

.pages_tabs {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 1028px) {
  .shops_block {
    flex-direction: column;
  }
}
