.boards_page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-content;
  gap: 20px;

  .add_board {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: var(--Colors-Grey-White, #fff);
    height: 100%;
    width: 100%;

    .edit {
      border-radius: 5px;
      background: var(--blue_light_3, #e7efff);
      padding: 9px 10px;
    }
  }

  .hex_colors {
    display: grid !important;
    grid-template-columns: repeat(9, 1fr);

    button {
      gap: 8px;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      border: 0.1px solid #919191;
    }
  }
}
