.filtr {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  .search {
    width: 100%;
    input {
      padding: 9px 20px;
      min-width: 100%;
      border-radius: 6px;
      background: var(--Colors-Grey-White, #fff);
    }
  }

  .oldest_newest {
    display: flex;
    align-items: center;
    gap: 8px;

    button {
      border-radius: 6px;
      font-size: 14px;
      line-height: 140%;
      width: 130px;
      padding: 10px;
    }

    .active {
      color: var(--white, var(--Colors-Grey-White, #fff));
      background: var(--blue, #027ddb);
    }

    .not_active {
      color: var(--blue, #027ddb);
      background: var(--Colors-Grey-White, #fff);
    }
  }

  .adv_category {
    display: flex;
    align-items: center;
    gap: 8px;

    button {
      border-radius: 6px;
      font-size: 14px;
      line-height: 140%;
      width: 130px;
      padding: 10px;
    }

    .active {
      color: var(--white, var(--Colors-Grey-White, #fff));
      background: var(--orange, #ff7c00);
    }

    .not_active {
      color: var(--orange, #ff7c00);
      background: var(--Colors-Grey-White, #fff);
    }
  }
}

.boards_page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-content;
  gap: 20px;

  .hex_colors {
    display: grid !important;
    grid-template-columns: repeat(14, 1fr);

    button {
      gap: 8px;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      border: 0.1px solid #919191;
    }
  }
}

.category_color {
  min-width: 100%;
  display: flex !important;
  align-items: center;
  flex-direction: row !important;

  .color_box {
    border-radius: 8px;
    border: 1px solid var(--black, #001526);
    min-width: 46px;
    min-height: 46px;
    margin-top: 32px;
  }
}

.add_board {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: var(--Colors-Grey-White, #fff);
  height: 100%;
  width: 100%;

  .edit {
    border-radius: 5px;
    background: var(--blue_light_3, #e7efff);
    padding: 9px 10px;
  }
}

.suggestions {
  border: 1px solid #ccc;
  border-radius: 8px;
  list-style: none;
  margin-top: 80px;
  padding: 0;
  position: absolute;
  background: #fff;
  width: 50%;
  z-index: 100;
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.suggestions li {
  padding: 8px 12px;
  cursor: pointer;
}

.suggestions li:hover {
  background: #f0f0f0;
}

.position_relative {
  position: relative;
}

@media (max-width: 900px) {
  .filtr {
    flex-direction: column;
    gap: 20px;
  }
  .boards_page {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .boards_page {
    grid-template-columns: repeat(1, 1fr);
    .hex_colors {
      grid-template-columns: repeat(10, 1fr);
    }
  }
}
@media (max-width: 400px) {
  .boards_page {
    .hex_colors {
      grid-template-columns: repeat(7, 1fr);
    }
  }
}
