
.change_password_block {
  .change_password_img{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 99;
}
  .input {
    display: flex;
    flex-direction: column;
    gap: 16px;

    label {
      color: var(--black, #001526);
      font-size: 14px;
      line-height: 140%;
    }

    input {
      border-radius: 8px;
      border: 1px solid var(--gray, #a4a4a4);
      padding: 12px 20px;
      color: var(--gray, #a4a4a4);
      font-size: 14px;
    }
  }

  .password {
    .btn {
      display: flex;
      justify-content: flex-end;
      margin-top: 24px;

      button {
        border-radius: 12px;
        background: var(--blue, #027ddb);
        padding: 14px 36px;
        color: var(--white, #fff);
        font-size: 16px;
        line-height: 140%;
        width: 330px;

        &:hover {
          background-color: #01579b;
          transition: background-color 0.3s;
        }
      }
    }
  }

  .new_password {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .new_password_inputs {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .edit_submit_btns {
      display: flex;
      align-items: center;
      gap: 20px;

      .save {
        border-radius: 12px;
        background: var(--blue, #027ddb);
        padding: 14px 36px;
        color: var(--white, #fff);
        font-size: 16px;
        line-height: 140%;
        width: 330px;
      }

      .exit {
        border-radius: 12px;
        background: var(--blue, #fff);
        border: 1px solid var(--blue, #027ddb);
        padding: 14px 36px;
        color: var(--white, #000);
        font-size: 16px;
        line-height: 140%;
        width: 330px;
      }
    }
  }
}

@media (max-width: 768px) {
  .change_password_block {
    .password {
      .btn button {
        min-width: 100%;
      }
    }
    .new_password {
      .edit_submit_btns {
        flex-direction: column;
      }

      .save {
        min-width: 100%;
      }
      .exit {
        min-width: 100%;
      }
    }
  }
}
