.container {
  background: #f7f9fc;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 200vh;

  .pages_container {
    padding: 16px 20px;
    margin-top: 75px;
  }

  .header_container {
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    position: fixed;
    background: #f7f9fc;
    width: 100%;
    z-index: 100;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;

    div {
      display: flex;
      align-items: center;
      gap: 16px;

      .user_code {
        border-radius: 8px;
        border: 1px solid var(--blue_light_3, #e7efff);
        span {
          color: var(--blue, #027ddb);
          font-size: 12px;
          font-weight: 700;
          line-height: 16px;
          padding: 8px 16px;
        }
      }
    }
  }

  .nav {
    height: 100vh;
    position: fixed;
    top: 80px;
    width: 93%;
    
    .logout {
      margin-top: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      color: var(--red, #ff1414);
      font-size: 20px;
      line-height: 140%;
      position: absolute;
      bottom: 0%;
      width: 100%;
    }
    
    ul {
    height: 45vh;
      background-color: #f7f9fc;
      display: flex;
      flex-direction: column;
      gap: 8px;

      li {
        padding: 16px 20px;
        display: flex;
        align-items: center;
        gap: 12px;
      }

      .active {
        border-radius: 12px;
        background: var(--blue, #027ddb);
        color: var(--white, var(--Colors-Grey-White, #fff));
        text-align: center;
        font-size: 14px;
        line-height: 140%;

        .active_icon {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}
.filterComponentContainer {
  background: #fff;
  z-index: 88;
  transform: translateX(0);
  transition: transform 1s ease;
  width: 25%;
  box-sizing: border-box;

  @media screen and (max-width: 600px) {
    transform: translateY(-200%);
    width: 100%;
    position: absolute;
  }
}

.visibleFilter {
  .filterComponentContainer {
    transform: translateX(0);
  }
}