.join {
  margin-top: 120px;
  display: flex;

  .join_img img {
    width: 598px;
  }

  .join_info {
    width: 730px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    p {
      font-family: Helvetica;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }
    h1 {
      color: var(--black, #001526);
      font-size: 28px;
      font-weight: 700;
      line-height: 34px;
      span {
        color: var(--orange, #ff7c00);
        font-size: 28px;
        font-weight: 700;
        border-bottom: solid var(--orange, #ff7c00) 3px;
      }
    }

    div {
      display: flex;
      align-items: center;
      gap: 16px;

      span {
        font-size: 14px;
        line-height: 140%;
      }
      .join_info_div {
        width: 7px;
        margin: 0;
        padding: 0;
        align-self: stretch;
        border-radius: 100px;
        background: var(--orange, #ff7c00);
      }
      div {
        width: 5px;
        margin: 0;
        padding: 0;
        align-self: stretch;
        border-radius: 100px;
        background: var(--orange, #ff7c00);
      }
    }
  }
}

@media (max-width: 1024px) {
  .join {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 32px;

    .join_info {
      width: 100%;
    }

    .join_img img {
      width: 100%;
    }
  }
}

@media (max-width: 728px) {
  .join {
    .join_info {
      h1 {
        font-size: 20px;
        line-height: 140%;

        span {
          font-size: 20px;
          line-height: 140%;
        }
      }
    }
  }
}
