.heroSection_img {
  position: absolute;
  right:0;
  top: 130px;
}

.header_hero {
  width: 100%;
  background: linear-gradient(259deg, #FF5E97 -2.07%, #027DDB 27.75%, #00B4AC 54.31%, #FF7C02 84.67%, #FFD832 106.36%);
  height: 720px;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    nav {
      ul {
        display: flex;
        align-items: center;
        gap: 32px;

        li {
          list-style: none;
          color: #FFFFFF;
          font-family: Helvetica;
          font-size: 14px;
          font-style: normal;
          font-weight: 300;
          line-height: 140%;

          a {
            text-decoration: none;
            color: inherit;
            position: relative;
            opacity: 0.6;
          }

          a::after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: transparent;
            transition: background-color 0.3s ease;
          }

          a.active::after {
            background-color: #FFFFFF;
          }

          a.active[href="/"] {
            color: #FFFFFF;
            opacity: 1;
          }
        }
      }
    }

    .auth_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap:20px;

      .auth_btn_reg{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }

      button {
        color: var(--white, #FFF);
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
      }

      .login {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        border-radius: 12px;
        background: var(--blue, #027DDB);
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #01579b;
        }

        span {
          color: #fff;
        }
      }

      .register {
        background: none;
        cursor: pointer;
      }
    }
  }

  .heroSection_page {
    .heroSection_info {
      width: 859px;
      h1 {
        padding-top: 50px;
        color: white;
        font-family: Helvetica;
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        strong {
          color: var(--white, var(--Colors-Grey-White, #FFF));
          font-family: Helvetica;
          font-size: 80px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
      .heroSection_info_span{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 16px;
        span {
          font-family: Helvetica;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          color: white;
        }
        div {
          width: 3px;
          align-self: stretch;
          border-radius: 100px;
          background: var(--orange, #FF7C00);
        }
      }
      .button {
        display: flex;
        padding: 14px 36px;
        justify-content: center;
        align-items: center;
        gap: 14px;
        border-radius: 12px;
        background: #fff;
        cursor: pointer;
        margin-top: 32px;
        transition: background-color 0.3s;
        color:var(--blue, #027DDB);


        span {
          font-size: 16px;
          font-weight: 400;
        }
        &:hover {
          background-color: #01579b; /* новый цвет фона при наведении */
          color: white;
        }
      }

    }
  }
}

