.join {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .join_info {
    width: 730px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    h1 {
      color: var(--black, #001526);
      font-size: 32px;
      font-weight: 700;
    }

    div {
      display: flex;
      align-items: center;
      gap: 16px;

      span {
        font-size: 16px;
        line-height: 140%;
      }
      .join_info_div {
        width: 7px;
        margin: 0;
        padding: 0;
        align-self: stretch;
        border-radius: 100px;
        background: var(--orange, #ff7c00);
      }
      div {
        width: 5px;
        margin: 0;
        padding: 0;
        align-self: stretch;
        border-radius: 100px;
        background: var(--orange, #ff7c00);
      }
    }
    button {
      padding: 14px 36px;
      color: #fff;
      border-radius: 12px;
      background: var(--blue, #027ddb);
      cursor: pointer;
      margin-top: 12px;
    }
  }
}

@media (max-width: 768px) {
  .join {
    margin-top: 32px;
    .join_img {
      display: none;
    }
  }
}
