.join {
  margin-top: 120px;
  .join_img {
    width: 598px;
    height: 598px;
    position: absolute;
    right: -60px;
    top: -80px;
  }

  .join_info {
    width: 730px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    p {
      font-family: Helvetica;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }

    h1 {
      color: var(--black, #001526);
      font-family: Helvetica;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    div {
      display: flex;
      align-items: center;
      gap: 16px;

      span {
        font-family: Helvetica;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
      }
      .join_info_div {
        width: 7px;
        margin: 0;
        padding: 0;
        align-self: stretch;
        border-radius: 100px;
        background: var(--orange, #ff7c00);
      }
      div {
        width: 5px;
        margin: 0;
        padding: 0;
        align-self: stretch;
        border-radius: 100px;
        background: var(--orange, #ff7c00);
      }
    }
    button {
      padding: 14px 36px;
      color: #fff;
      border-radius: 12px;
      background: var(--blue, #027ddb);
      cursor: pointer;
      margin-top: 12px;
    }
  }
}

@media (max-width: 1024px) {
  .join {
    .join_img {
      display: none;
    }
  }
}

@media (max-width: 728px) {
  .join {
    margin-top: 32px;
    .join_img {
      display: none;
    }

    .join_info {
      width: 100%;
      h1 {
        font-size: 20px;
        line-height: 140%; /* 28px */
      }
    }
  }
}
