.more_info {
  width: 100%;
  height: 100%;
  background: var(--bue_light_2, #f7f9fc);
  padding-top: 120px;

  .more_info_container {
    .info_img {
      position: absolute;
      right: -60px;
      top: -60px;
      img {
        cursor: pointer;
        transition: transform 0.8s ease-in-out;
        transform: scale(1);
        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .more_info_inner {
      width: 730px;

      h2 {
        color: var(--black, #001526);
        font-size: 32px;
        font-weight: 700;
        margin-top: 12px;
        transition: transform 0.8s ease-in-out;
        transform: scale(1);
        &:hover {
          transform: scale(1.1);
          color: #027ddb;
        }
      }

      .more_info_inner_span {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
        transition: transform 0.8s ease-in-out;
        transform: scale(1);
        &:hover {
          position: relative;
          transform: scale(1.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          padding: 12px;
          border-radius: 8px;
          color: #027ddb;
        }
        span {
          font-size: 16px;
          line-height: 140%;
        }

        .more_info_inner_div {
          width: 5px;
          align-self: stretch;
          border-radius: 100px;
          background: var(--orange, #ff7c00);
        }

        div {
          width: 3px;
          align-self: stretch;
          border-radius: 100px;
          background: var(--orange, #ff7c00);
        }
      }

      .more_info_inner_block {
        width: 90%;
        display: flex;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        border-radius: 16px;
        background: var(--white, #fff);
        box-shadow: 3px 3px 10px 0px rgba(0, 21, 38, 0.05);
        margin-top: 20px;

        h3 {
          color: var(--black, #001526);
          font-size: 18px;
          font-weight: 700;
        }
        .more_info_inner_block_info {
          display: flex;
          justify-content: space-between;
          gap: 24px;

          .more_info_inner_block_infos {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }
      }
    }
  }
}

.more_info_culc {
  width: 100%;
  height: 100%;
  background: var(--white, #fff);
  padding-top: 120px;

  .more_info_container {
    .info_img {
      position: absolute;
      right: -60px;
      top: -60px;
    }

    .more_info_inner {
      width: 730px;

      h2 {
        color: var(--black, #001526);
        font-size: 32px;
        font-weight: 700;
        margin-top: 12px;
      }

      .more_info_inner_span {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 20px;

        span {
          font-size: 16px;
          line-height: 140%;
        }
        .more_info_inner_div {
          width: 5px;
          align-self: stretch;
          border-radius: 100px;
          background: var(--orange, #ff7c00);
        }
        div {
          width: 3px;
          align-self: stretch;
          border-radius: 100px;
          background: var(--orange, #ff7c00);
        }
      }

      .more_info_inner_block {
        width: 90%;
        display: flex;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        border-radius: 16px;
        background: var(--bue_light_2, #f7f9fc);
        box-shadow: 3px 3px 10px 0px rgba(0, 21, 38, 0.05);
        margin-top: 20px;

        h3 {
          color: var(--black, #001526);
          font-size: 18px;
          font-weight: 700;
        }
        .more_info_inner_block_info {
          display: flex;
          justify-content: space-between;
          gap: 24px;

          .more_info_inner_block_infos {
            display: flex;
            justify-content: space-between;
            align-items: center;

            div {
              width: 20px;
              height: 20px;
              background-color: var(--black, #001526);
              border-radius: 50%;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .more_info_culc {
    padding-top: 32px;

    .more_info_container {
      .info_img {
        display: none;
      }

      .more_info_inner {
        width: 100%;

        .more_info_inner_block {
          width: 100%;
        }
      }
    }
  }
  .more_info {
    padding-top: 0px;

    .more_info_container {
      .info_img {
        display: none;
      }

      .more_info_inner {
        width: 100%;

        .more_info_inner_block {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 748px) {
  .more_info_inner {
    h2 {
      font-size: 24px !important;
      line-height: 140% !important;
    }

    .more_info_inner_block_info {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }
}
