.more_info {
  width: 100%;
  height: 100%;
  background: var(--bue_light_2, #F7F9FC);
  padding-top: 120px;
  .more_info_container{
    .more_info_inner{
      width: 730px;
      h2 {
        color: var(--black, #001526);
        /* Bold - 32 */
        font-family: Helvetica;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 12px;
      }

      .more_info_inner_span {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
        span {
          /* Regular - 16 */
          font-family: Helvetica;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
        }
        .more_info_inner_div{
          width: 5px;
          align-self: stretch;
          border-radius: 100px;
          background: var(--orange, #FF7C00);
        }
        div {
          width: 3px;
          align-self: stretch;
          border-radius: 100px;
          background: var(--orange, #FF7C00);
        }
      }
      .more_info_inner_block {
        width: 90%;
        display: flex;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        border-radius: 16px;
        background: var(--white, #FFF);
        box-shadow: 3px 3px 10px 0px rgba(0, 21, 38, 0.05);
        margin-top: 20px;

        h3 {
          color: var(--black, #001526);
          font-family: Helvetica;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;

        }
        .more_info_inner_block_info {
          display: flex;
          justify-content: space-between;
          gap: 24px;

          .more_info_inner_block_infos {
            display: flex;
            justify-content: space-between;
            align-items: center;
            div {
              width: 20px;
              height: 20px;
              background-color: var(--black, #001526);
              border-radius: 50%;
              margin-right: 10px;
            }
          }
        }
      }

    }
  }
}

.more_info_culc {

  width: 100%;
  height: 100%;
  background: var(--white, #FFF);
  padding-top: 120px;
  .more_info_container{
    .more_info_inner{
      width: 730px;
      h2 {
        color: var(--black, #001526);
        /* Bold - 32 */
        font-family: Helvetica;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 12px;
      }

      .more_info_inner_span {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
        span {
          /* Regular - 16 */
          font-family: Helvetica;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
        }
        .more_info_inner_div{
          width: 5px;
          align-self: stretch;
          border-radius: 100px;
          background: var(--orange, #FF7C00);
        }
        div {
          width: 3px;
          align-self: stretch;
          border-radius: 100px;
          background: var(--orange, #FF7C00);
        }
      }
      .more_info_inner_block {
        width: 90%;
        display: flex;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        border-radius: 16px;
        background: var(--bue_light_2, #F7F9FC);
        box-shadow: 3px 3px 10px 0px rgba(0, 21, 38, 0.05);
        margin-top: 20px;

        h3 {
          color: var(--black, #001526);
          font-family: Helvetica;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;

        }
        .more_info_inner_block_info {
          display: flex;
          justify-content: space-between;
          gap: 24px;

          .more_info_inner_block_infos {
            display: flex;
            justify-content: space-between;
            align-items: center;
            div {
              width: 20px;
              height: 20px;
              background-color: var(--black, #001526);
              border-radius: 50%;
              margin-right: 10px;
            }
          }
        }
      }

    }
  }
}