.shops {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}

@media (max-width: 748px) {
  .shops {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    row-gap: 60px;
  }
}
