.card_block {
  border-radius: 12px;
  background: var(--white, #fff);
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 20px;

  span {
    color: var(--black, #001526);
    font-size: 24px;
    line-height: 140%;
  }
}

.cards_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
