.card_block {
  border-radius: 12px;
  background: var(--white, #fff);
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  
  width: 100%;

  div {
    display: flex;
    gap: 10px;

    button {
      display: flex;
      padding: 8px 9px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 5px;
      background: var(--bg_red, #ffe7e7);

      img {
        width: 12px;
        height: 12px;
      }
    }

    .card_button {
      display: flex;
      padding: 8px 9px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 5px;
      background: var(--blue_light_3, #e7efff);

      img {
        width: 12px;
        height: 12px;
      }
    }
  }

  span {
    color: var(--black, #001526);
    font-size: 24px;
    line-height: 140%;
  }
}

.cards_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  .mobile_btn {
    display: none;
  }
}

@media (max-width: 768px) {
  .cards_list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .card_block {
    padding: 16px;

    span {
      font-size: 18px;
    }
  }

  .cards_list {
    .mobile_btn {
      display: flex;
      flex-direction: column;
      gap: 20px;

      span {
        font-size: 20px;
        line-height: 140%;
      }
    }
  }
}
