.card_block {
  .data {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 24px;
  border-radius: 12px;
  background: var(--white, #fff);

  .btns {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
      width: 12px;
    }

    .edit {
      border-radius: 5px;
      background: var(--blue_light_3, #e7efff);
      padding: 9px;
    }
    .delete {
      padding: 9px;
      border-radius: 5px;
      background: var(--bg_red, #ffe7e7);
    }
  }

  .card_img {
    width: 48px;
    height: 48px;
    border-radius: 12px;
  }

  .card_text {
    h2 {
      color: var(--black, #001526);
      font-size: 16px;
      line-height: 140%;
    }

    p {
      color: var(--black, #001526);
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.products_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* полупрозрачный черный фон */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
  }
}

.modal_content p {
  margin-bottom: 10px;
}

.modal_content button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  background: rgba(30, 77, 116, 0.397);
  margin-right: 10px;
  cursor: pointer;
}

.modal_content button:last-child {
  margin-right: 0;
}
