.card_block {
  .data {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 24px;
  border-radius: 12px;
  background: var(--white, #fff);

  .btns {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
      width: 12px;
    }

    .edit {
      border-radius: 5px;
      background: var(--blue_light_3, #e7efff);
      padding: 9px;
    }
    .delete {
      padding: 9px;
      border-radius: 5px;
      background: var(--bg_red, #ffe7e7);
    }
  }

  .card_img {
    width: 48px;
    height: 48px;
    border-radius: 12px;
  }

  .card_text {
    h2 {
      color: var(--black, #001526);
      font-size: 16px;
      line-height: 140%;
    }

    p {
      color: var(--black, #001526);
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.products_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
