.card {
  border-radius: 12px;
  background: var(--white, #fff);
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;

  .cards_img {
    min-width: 80px;
    max-height: 80px;
    border-radius: 12px;

    img {
      height: 80px;
      max-width: 80px;
      object-fit: contain;
      border-radius: 8px;
    }
  }
  .card_btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    button {
      display: flex;
      padding: 8px 9px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 5px;
      background: var(--bg_red, #ffe7e7);
      img {
        width: 12px;
        height: 12px;
      }
    }
    .card_button {
      display: flex;
      padding: 8px 9px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 5px;
      background: var(--blue_light_3, #e7efff);
      img {
        width: 12px;
        height: 12px;
      }
    }
  }
  .card_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    h2 {
      color: var(--black, #001526);
      font-size: 18px;
      font-weight: 700;
    }

    p {
      color: var(--black, #001526);
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
    }
  }
}

.cards_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
  }
}

.modal_content p {
  margin-bottom: 10px;
}

.modal_content button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  background: rgba(30, 77, 116, 0.397);
  margin-right: 10px;
  cursor: pointer;
}

.modal_content button:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .cards_list {
    display: flex;
    flex-direction: column;
  }
}
