.card {
  border-radius: 12px;
  background: var(--Colors-Grey-White, #fff);
  padding: 24px;

  .card_info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: 24px;
      font-weight: 700;
    }

    .btns {
      display: flex;
      gap: 12px;

      .edit {
        border-radius: 5px;
        background: var(--blue_light_3, #e7efff);
        padding: 9px 10px;
      }
      .delete {
        border-radius: 5px;
        background: var(--blue_light_3, #ffe7e7);
        padding: 9px 10px;
      }
    }
  }

  .view {
    border-radius: 12px;
    background: var(--blue, #027ddb);
    padding: 14px 36px;
    margin-top: 20px;
    width: 100%;
    color: var(--white, var(--Colors-Grey-White, #fff));
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  text-align: center;
}

.modal_buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal_buttons button {
  padding: 10px 20px;
}
