.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  width: 600px;
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.525);

  h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;
  }
  p {
    gap: 10px;
    display: flex;
    line-height: 24px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  span {
    display: flex;
  }
}
.linni {
  border-radius: 100px;
  border: 3px solid var(--orange, #ff7c00);
}
.telegram {
  align-items: center;
  display: flex;
  gap: 10px;
  font-size: 18px;
  font-weight: 400;
  span {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
  }
}
@media screen and (max-width: 729px) {
  .modalContent {
    width: 350px;
    padding: 20px;
    h1 {
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 30px;
    }
    p {
      line-height: 20px;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 20px;
    }
    span {
      display: flex;
    }
  }
}
